$bgc: #F6F6F6
$white: #FFFFFF
$black: #2F2F2F
$text: #2F2F2F
// добавлять и удалять
$grey: #F6F6F6
$red: #F2590D

// добавлять и удалять
$gradient-dark: linear-gradient(135deg, #2f2f2f 0%, transparent 100%) #7f7f7f

// анимация
$cubic: all 0.7s cubic-bezier(0.76, -0.76, 0.25, 1.26)

// переменные по умолчанию
$containerPadding: 15
$contentWidth: 1360
$containerWidth: $contentWidth + $containerPadding * 2
$minWidth: 320

// Media 
$pcw: 1359.98px
$desktop: 1129.98px // большие мониторы
$pc: 1023.98px // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98px // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px // Телефоны L - 768px
$mobileMid: 575.98px // Телефоны M - 576px
$mobileSmall: 479.98px // Телефоны S - 480px

:root
  --widthscrollbar: 17px
  --header-offset: 0px
  // **********************************************
  // СДЕЛАТЬ ВЕРХНИЙ И НИЖНИЙ ОТСТУП У SECTION
  --sectionPaddingTop: 40px
  --sectionPaddingBottom: 40px
  // ---------------- END

%body
  font-family: $font-first
  @include font(500, 20, calc(20 * 1.2))
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

%head
  border-bottom: 2px solid $text
  // background-color: $text
  // height: 1px
  width: 100%
  // bottom: -10px
  padding-bottom: 10px
  // margin-bottom: 28px
  span
    padding-bottom: 2px
    position: relative
    display: block
    margin-left: auto
    padding-left: 10px
    font-family: $font-second
    @include font(600, 36, calc(42 * 1.2))
    line-height: 1.1
    color: $bgc
    text-transform: uppercase
    background: $gradient-dark
    max-width: 46.5%
    &::before
      content: ''
      position: absolute
      top: 0
      bottom: 0
      left: -56px
      width: 46px
      height: 42px
      background: $text url("../images/icons/home.svg") center / 26px no-repeat
