<div class="call-btn">
  <a href="viber://chat?number=37360049837" class="call-link call-btn--viber">
    <img src="@img/icons/viber.svg" loading="lazy" alt="icon viber">
    <!-- Viber -->
  </a>
  <a href="tel:+37360049837" class="call-link call-btn--phone">
    <img src="@img/icons/phone.svg" loading="lazy" alt="icon phone">
  </a>
  <a href="https://t.me/37360049837" class="call-link call-btn--telegram">
    <img src="@img/icons/telegram.svg" loading="lazy" alt="icon telegram">
    <!-- telegram -->
  </a>
</div>