<ul class="social">
  <li>
    <a href="#" target="_blank">
      <svg class="" aria-hidden="true" preserveAspectRatio="xMidYMid meet">
        <use xlink:href="images/icons/viber.svg"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="#" target="_blank">
      <svg class="" aria-hidden="true" preserveAspectRatio="xMidYMid meet">
        <use xlink:href="images/icons/telegram.svg"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="#" target="_blank">
      <svg class="" aria-hidden="true" preserveAspectRatio="xMidYMid meet">
        <use xlink:href="images/icons/facebook.svg"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="#" target="_blank">
      <svg class="" aria-hidden="true" preserveAspectRatio="xMidYMid meet">
        <use xlink:href="images/icons/instagram.svg"></use>
      </svg>
    </a>
  </li>
</ul>