.hero
  padding-bottom: var(--sectionPaddingBottom)

  &__container
    position: relative
    display: flex
    justify-content: center
    height: 100%
    flex-direction: column
    z-index: 2

  &__top
    display: flex
    gap: 15px
    align-items: flex-start
    margin-bottom: 68px
    @media (any-hover: hover) and (pointer: fine)
      &:hover
        & .hero__img img
          transform: scale(1.01)

  &__head
    display: flex
    flex-direction: column
    justify-content: space-between
    align-self: stretch
    margin-bottom: -15px
    span
      display: block
      line-height: 1.1
      text-align: right
      &:nth-child(even)
        font-size: 100px
    &--red
      font-family: $font-second
      font-weight: 600
      font-size: 74px
      color: $red
    &--dark
      font-family: $font-first
      font-weight: 700
      font-size: 70px
      color: $text
      background-image: linear-gradient(to right, #2f2f2f, #7f7f7f)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
  &__img
    display: flex
    flex-basis: calc(50% - 8px)
    flex-shrink: 1
    height: 380px
    overflow: hidden

    img
      transition: transform 0.7s ease-in
      height: 100%
      width: 100%
      object-fit: cover
  &__contacts
    display: flex
    gap: 15px
    align-items: flex-end
    justify-content: space-between
  &__btn
    flex: 1 1 calc(50% - 8px)
    max-width: 50%
  &__warranty
    position: relative
    flex: 1 1 calc(50% - 8px)
    font-family: $font-second
    font-weight: 600
    font-size: 70px
    line-height: 90%
    text-align: right
    color: $text
    max-width: 473px
    a.btn--call
      background: url("../images/icons/phone.svg") center / contain no-repeat
      border-radius: 50%
      position: absolute
      display: block
      top: -40px
      right: 0
      width: 40px
      height: 40px
      box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.25)
      animation: pulse 5s infinite linear
      backface-visibility: hidden
      animation-fill-mode: backwards
      transition: transform 0.3s ease-in
      @media (any-hover: hover) and (pointer: fine)
        &:hover
          transform: scale(1.05)



