.footer
  background-color: $bgc
  padding-top: var(--sectionPaddingTop)

  &__wrap
    display: flex
    @include mediaTablet
      flex-direction: column


  &__container
    max-width: calc(1360px / 2)

  &__name
    background: $gradient-dark
    flex-basis: 50%
    display: flex
    align-items: center
    justify-content: center
    position: relative
    min-height: 270px
    &::before
      content: ''
      position: absolute
      bottom: 60px
      left: 60px
      width: 256px
      height: 190px
      background: url("../images/icons/subtract.svg") center / cover no-repeat
    &::after
      content: ''
      position: absolute
      top: 60px
      right: 60px
      width: 256px
      height: 190px
      background: url("../images/icons/subtract.svg") center / cover no-repeat
      transform: rotate(180deg)
    @include mediaTablet
      &::before
        width: 141px
        height: 104px
        left: 30px
        bottom: 30px
      &::after
        top: 30px
        right: 30px
        width: 141px
        height: 104px

  &__title
    text-transform: uppercase
    font-family: $font-second
    font-weight: 600
    @include font-size(60, 40)
    // font-size: 60px
    text-align: center
    color: $bgc

  &__contacts
    flex-basis: 50%
    padding: 50px 30px 20px
    background-color: #DADADA
    //color: rgba($text, 0.5)
    @include mediaPhone
      padding-left: 0
      padding-right: 0

  &__item
    transition: color 0.3s ease
    &:not(:last-child)
      margin-bottom: 19px
    a
      cursor: pointer

  &__form
    margin-bottom: 32px

  &__email
    font-family: $font-second
    font-weight: 600
    @include font-size(34, 24)
    // font-size: 34px
    margin: 0 auto
    display: block
    text-align: center
    margin-bottom: 12px
    transition: color 0.3s ease-in
    @media (any-hover: hover) and (pointer: fine)
      &:hover
        color: $red
    @include mediaTablet
      margin-bottom: 20px


  &__socials
    display: flex
    align-items: center
    justify-content: center
    gap: 40px
    @include mediaTablet
      flex-direction: column-reverse
      gap: 20px

  &__phone
    // display: block
    font-weight: 700
    transition: color 0.3s ease-in
    flex-shrink: 0
    @media (any-hover: hover) and (pointer: fine)
      &:hover
        color: $red

  &__copyright
    background-color: $white
    padding: 27px 0
  &__ref
    margin: 0 auto
    display: flex
    align-items: center
    justify-content: center
    gap: 14px
    // width: 61px
    height: 25px
    &-ss
      svg
        width: 26px
        height: 26px
        transition: fill 0.4s ease-in
        fill: $text
        &.instagram
          stroke: $bgc
          // stroke-width: 2
      @media (any-hover: hover) and (pointer: fine)
      &:hover
        svg.instagram
          fill: $red
