.header
  padding: 32px 0
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2)
  z-index: 3
  // @include mediaTablet
  //   position: fixed
  //   background-color: $text
  //   box-shadow: 0 1px 35px 0 rgba($black, 0.1)
  //   z-index: 100
  //   width: 100%
  @include mediaPhone
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 7
    background-color: $black

  &__container
    display: flex
    align-items: center
    justify-content: space-between
    gap: 0 20px
    &.glass
      // background: linear-gradient(135deg, #fff3, #ffffff0d)
      border: 1px solid #ffffff1a
      box-shadow: 0 4px 30px #0000001a
      -webkit-backdrop-filter: blur(20px)saturate(180%)
      padding: 7px 15px
      border-radius: 1.5em

  &__logo
    // margin-right: auto
    @include mediaPhone
      z-index: 5

  &__menu
    margin-right: 50px

  &__phone
    font-weight: 700
    font-size: 16px
    transition: color 0.3s ease-in
    @media (any-hover: hover) and (pointer: fine)
      &:hover
        color: $red


/* Базовые настройки для частей крыши */
.roof-left, .roof-right
  transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1)
  transform-box: fill-box
  transform-origin: center
.header__logo:hover .roof-left
  /* Уходит влево и вверх */
  transform: translate(-3px, -2px) rotate(-2deg)
.header__logo:hover .roof-right
  /* Уходит вправо и вверх */
  transform: translate(2px, -3px) rotate(2deg)
