:root
  --header-height: 80px
.header
  position: fixed
  top: 0
  left: 0
  width: 100%
  padding: 32px 0
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2)
  z-index: 100

  height: var(--header-height)
  // padding: 0
  display: flex
  align-items: center
  // transition: transform 0.28s ease, opacity 0.28s ease
  // @include mediaTablet
  //   position: fixed
  //   background-color: $text
  //   box-shadow: 0 1px 35px 0 rgba($black, 0.1)
  //   z-index: 100
  //   width: 100%
  backdrop-filter: blur(10px)

  // transition: transform 0.28s ease, opacity 0.28s ease, box-shadow 0.28s ease, background-color 0.28s ease
  // will-change: transform, opacity

  // &-wrapper
  //   height: var(--header-height)

  // &.is-hidden
  //   transform: translateY(-100%)

  // // Когда скроллим вверх или в самом верху — показываем с тенью
  // &.is-visible
  //   transform: translateY(0)
  //   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1)



  // &.is-scrolled
  //   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15)
  //   padding: 16px 0 // Пример: сужаем хедер при скролле
  //   backdrop-filter: blur(10px)
  //   background-color: rgba(255, 255, 255, 0.8)

  // &.is-fixed
  //   position: fixed
  //   top: 0
  //   left: 0
  //   width: 100%
  //   z-index: 100
  //   transform: translateY(0)
  //   opacity: 1
  //   // padding: 18px 0
  //   backdrop-filter: blur(10px)

  // &.is-fixed.is-visible
  //   transform: translateY(0)
  //   opacity: 1
  //   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25)


  // @include mediaPhone
  //   position: fixed
  //   top: 0
  //   left: 0
  //   width: 100%
  //   z-index: 7
  //   background-color: $black

  &__container
    display: flex
    align-items: center
    justify-content: space-between
    gap: 0 20px
    &.glass
      // background: linear-gradient(135deg, #fff3, #ffffff0d)
      border: 1px solid #ffffff1a
      box-shadow: 0 4px 30px #0000001a
      -webkit-backdrop-filter: blur(20px)saturate(180%)
      padding: 7px 15px
      border-radius: 1.5em

  &__logo
    width: 267px
    height: 35px
    flex-shrink: 0
    // margin-right: auto
    @include mediaPhone
      // z-index: 5
      width: 182px
      height: 24px

  &__menu
    margin-right: 50px
    @include mediaTablet
      order: 2
      margin-right: 0

  &__phone
    font-weight: 700
    font-size: 16px
    transition: color 0.3s ease-in
    flex-shrink: 0
    @media (any-hover: hover) and (pointer: fine)
      &:hover
        color: $red
    @include mediaPhone
      order: 3
      color: $bgc
      font-size: 20px
      text-align: right


/* Базовые настройки для частей крыши */
.roof-left, .roof-right
  transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1)
  transform-box: fill-box
  transform-origin: center
.header__logo:hover .roof-left
  /* Уходит влево и вверх */
  transform: translate(-3px, -2px) rotate(-2deg)
.header__logo:hover .roof-right
  /* Уходит вправо и вверх */
  transform: translate(2px, -3px) rotate(2deg)
