.social
  display: flex
  align-items: center
  justify-content: space-between
  gap: 20px
  li
    &:not(:last-child)
      margin-right: 30px
    @media (any-hover: hover) and (pointer: fine)
      &:hover
        svg
          fill: $red
  a
    // color: #000
  svg
    transition: fill 0.4s ease-in
    width: 30px
    height: 30px
    fill: $text
    &.instagram
      stroke: $bgc
